<app-container>
  <app-cabecalho
    [telaInicial]="true"
    [bannerSrc]="'assets/banner.png'"
    [titulo]="'Organize, <span>conecte</span>, simplifique!'"
  ></app-cabecalho>

  <input
    type="search"
    placeholder="Digite para buscar"
    [(ngModel)]="filtroPorTexto"
  />

  <section class="adicionar-contato">
    <button routerLink="/formulario">
      <img src="assets/plus.png" alt="" />
      <span>Adicionar contato</span>
    </button>
  </section>

  <div *ngFor="let letra of alfabeto; trackBy: trackByFn">
    <app-separador>
      {{ letra }}
    </app-separador>
    <div
      *ngFor="
        let contato of filtrarContatosPorLetraInicial(letra);
        trackBy: trackByFn
      "
    >
      <app-contato
        [nome]="contato.nome"
        [telefone]="contato.telefone"
        [id]="contato.id!"
        [avatar]="contato.avatar"
      ></app-contato>
    </div>
  </div>
</app-container>
