.cabecalho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 40px;
  border-bottom: 1px solid #0d6efd;
  padding-bottom: 40px;
}

.cabecalho .titulo {
  color: #0d6efd;
  text-align: center;
  font-family: "Zen Dots";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 150%;
  margin: 0;
}

.cabecalho .titulo span {
  color: #fd9843;
}
