<app-container>
  <app-cabecalho></app-cabecalho>

  <input
    type="search"
    placeholder="Digite para buscar"
    [(ngModel)]="filtroPorTexto"
  />

  <div *ngFor="let letra of alfabeto; trackBy: trackByFn">
    <app-separador>
      {{ letra }}
    </app-separador>
    <div
      *ngFor="
        let contato of filtrarContatosPorLetraInicial(letra);
        trackBy: trackByFn
      "
    >
      <app-contato
        [nome]="contato.nome"
        [telefone]="contato.telefone"
      ></app-contato>
    </div>
  </div>
</app-container>
