<section class="contato">
  <ul>
    <img
      [src]="avatar"
      alt="avatar"
      class="avatar"
      [routerLink]="['/perfil-contato', id]"
    />
    <li class="contato__nome">
      <strong>{{ nome }}</strong>
    </li>
    <li class="contato__telefone">{{ telefone }}</li>
    <li class="contato__botoes">
      <button [routerLink]="['/formulario', id]">
        <img src="/assets/pencil-square.png" />
      </button>
      <button [routerLink]="['/perfil-contato', id]">
        <img src="/assets/trash.png" />
      </button>
    </li>
  </ul>
</section>
