.contato ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.contato ul li {
  list-style: none;
  color: #212529;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.contato ul li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.contato__nome {
  width: 85px;
}
